.sider {
    height: 100vh !important;
    position: fixed !important;
    left: 0 !important;
    z-index: 2 !important;
}

.sider-user {
    display: flex;
    align-items: center;
    line-height: normal;
    margin: 12px 14px !important;
}

@media only screen and (max-width: 600px) {
    .ant-card-extra {
        margin-left: 0 !important;
    }
    .ant-layout-sider-zero-width-trigger {
        display: none;
    }
}